<!-- {% extends "sign_user/base.html" %}
{% load static %}

{% block title %}

    Sign in
{% endblock %}
{% block body %} -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/form_styles.css">
    <title>Document</title>
</head>
<body>
    
    <div class="border">
        <form action="" class="form" method="post">
            {% csrf_token %}
            <h1 class="form_title">Вход </h1>
            
            <!-- {#            <input placeholder="Логин" type="text" name="username" id="id_username" autofocus required autocomplete="username">#} -->
            <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username" placeholder="Логин">
            <label for="login" class="username">Поле нужно заполнить</label>
            <!-- {#            <input placeholder="Пароль" type="password" name="password">#} -->
            <input placeholder="Пароль" type="password" name="password" autocomplete="current-password" required id="id_password">
            <label  for="password1" class="password1">Минимум 8 символов </label>
            
            <p style="text-align: center">
                <!-- {% for message in messages %}
                    {{ message }}
                    {% endfor %} -->
                </p>
                
                <div class="form_button">
                    <button class="form_button-submit sign-in_button" type="submit">Войти</button>
                    <a class="sign-in" href="{% url "register" %}">Регистрация </a>
                    <a href="{% url "reset_password" %}" class="forgot_pswwd"> Забыли пароль?</a>
                    
                    <script src="scripts/scripts_form.js"></script>        
                </div>
            </form>
        </div>
        
        
    </body>
    </html>
        <!-- {#    {{ form.as_ul }}#}
            
            {% endblock %} -->
            